{% extends 'base.html.twig' %}

{% block title %}IB - Ajouter un cadeau
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="border-bottom d-flex align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="text-color me-2" viewbox="0 0 16 16">
				<path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
			</svg>
			Ajouter un cadeau
		</h1>

		<div>
			{{form_start(form)}}
			{{form_row(form.author)}}
			{{form_row(form.quality)}}
			{{form_row(form.description)}}
			{# <h3 class="border-bottom mt-3">Image (optionnel)</h3> #}
			{# <p>Une photo ? une image, un souvenir que tu as avec Irène ? Tu peux la télécharger ici ! </p> #}
			{# {{form_row(form.file)}} #}
			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
